<div class="product">
    <mat-grid-list cols="6" rowHeight="380px">
        <mat-grid-tile *ngFor="let product of products">
            <mat-card class="example-card">
                <mat-card-header class="product-header">
                    <mat-icon class="mat-icon" matSuffix>edit</mat-icon>
                    <mat-icon class="mat-icon" matSuffix>close</mat-icon>
                </mat-card-header>
                <img mat-card-image class="product-image" src="{{product.productImage}}"
                    alt="Photo of a {{product.productTitle}}">
                <mat-card-content>
                    <p class="product-name">{{product.productTitle}}</p>
                    <star-rating class="product-rating" value="{{product.productRating}}" totalstars="5"
                        checkedcolor="#01c853" uncheckedcolor="grey" size="12px" readonly="false"></star-rating>
                    <p class="product-price">$ {{product.price}}</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>